@import "./styles/font.css";
@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--bg);
}

#root {
  background-color: var(--bg);
  /* color: var(--primary-text-color); */
  min-height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.ant-modal-container {
  background-color: var(--input-bg) !important;
  border: 1px solid var(--input-border) !important;
}

/* Width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: var(--bg-soft);
  border-radius: 10px;
}

/* Thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-hover);
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
