@import "./styles/font.css";
@import "tailwindcss";

body {
  font-family: var(--font-main);
}

#root {
  background-color: var(--bg);
  /* color: var(--primary-text-color); */
  min-height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.ant-modal-container {
  background-color: var(--input-bg) !important;
  border: 1px solid var(--input-border) !important;
}
